small{
    background-color: rgb(190, 226, 226);
    color: rgb(46, 6, 41);
    border-width: 1px;
    border-style:double;
    text-align: left;  
}

ul {
    padding-left: 5px;
    padding-block-start: 2;
    background-color: rgb(228, 205, 205);
}
h1{
    border: 0.5px solid;
    color:rgb(152, 202, 163)
    float：2;
    color: cadetblue;
    margin:unset;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
h2{
    font-display:arial ;
    border: 2px solid;
    border-color: aqua;
    color:rgb(31, 45, 175)
}

h3{
    color:rgb(220, 194, 238);
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: initial;
}
div{
    scroll-padding-block: rgb(243, 139, 139);
    display:grid;
    letter-spacing: 3px;
}
em{
    color:rgb(248, 196, 177);
    line-height: normal;
    background-position-x: left;
    border-width: 1px;
    border-style:solid;
    border-top:rgb(38, 158, 118);
    line-height: 5px;
}
